[Desktop Entry]
Name=V-List Player
Exec=vlist-player
Terminal=false
Type=Application
Icon=/usr/share/vlist-player/view/img/movie-icon-medium.png
Categories=Video
