Package: phantom-player
Version: 2.0.r9.gebbcb38
Architecture: all
Maintainer: Rafael Senties Martinelli <rafael@senties-martinelli.com>
Depends: libgtk-3-0,
         python3,
         python3-gi-cairo,
         python3-pil,
         python3-magic,
         python3-vlc (>= 3.0.2)
Installed-Size: DEB_BUILDER_SIZE
Homepage: https://www.phantom-player.com
Description: Smart video player and playlist manager. Very useful for organizing hard-drives and creating playlists from torrents.
 Phantom Player offers a range of practical features, making it easy to play, organize, and manage videos from your hard drive. Whether you're watching individual videos or managing playlists, it provides a seamless experience.
